# Abaikan file shell dan profil terminal
.bash_logout
.bash_profile
.bashrc
.profile
.bash_history
.github

# Abaikan file sementara dan log
*.log
*.tmp
*.bak
*.swp
*.swo

# Abaikan konfigurasi editor seperti VS Code
.vscode/

# Abaikan file dan direktori Python tertentu
__pycache__/
*.pyc
*.pyo
*.pyd

# Abaikan direktori build
build/
dist/

# Abaikan file atau direktori sistem
.DS_Store
Thumbs.db

# Abaikan konfigurasi Git
.git/
.gitconfig

# Abaikan file konfigurasi lingkungan dan credential
credentials.sh

# Jangan abaikan .env, biarkan tetap diupload
!.env
